/ZombieModSharp/bin
/ZombieModSharp/obj
/PlayerManager_Shared.Abstractions/bin
/PlayerManager_Shared.Abstractions/obj
/PlayerManager_Shared/bin
/PlayerManager_Shared/obj
/.vs
/ZombieModSharp.Shared/obj
/ZombieModSharp.Shared/bin
